# Mercearias Online Rollout Week 2

In [6]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!pip install xlsxwriter

# use the inline backend to generate the plots within the browser
%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.style.use('ggplot') # optional: for ggplot-like style

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Requirement already satisfied: xlsxwriter in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.2.9)

In [7]:
#Load data from a CSV file with some grocery informations collected manually
filename = 'grocery_rollout.xlsx'
df = pd.read_excel(filename)
df.head()

,name,opening year,number of employees,have electronic system ?,address,phone number,city,lat,lng
0,Mini Mercearias Mafalda,2019,1,YES,"Bairro Matola-Gare, Matola-Maputo",+258 84 0546824,Matola,NaN,NaN
1,Mini Mercearias Balbina Hilário,1998,1,NO,"Rua do Regimento, Bairro da Urbanização, Maputo",+258 84 8995929,Maputo,NaN,NaN
2,Complexo Mozakil,2014,1,NO,"Av. Sebastião Marcos Mabote, Bairro do Magoanine",+258 84 4624254,Maputo,NaN,NaN
3,Mercearia Marília,2019,2,NO,"Prolongamento da av. Vladimir Lenine 394, Xiqu...",+258 84 3973994,Maputo,NaN,NaN
4,Mercearia Mozal,2017,2,NO,"Rua da Mozal, Matola",+258 84 5084593,Matola,NaN,NaN

### Define Foursquare Credentials and Version

In [8]:
CLIENT_ID = 'XQI1ZWOKNY0DA0SA3GSRVSHC0ATRWT02LPRQ31THEY03EM42' # your Foursquare ID
CLIENT_SECRET = 'AFPFWK2RBT4FSMH5VMT1ILZJ2VQUEHOXBI5KQG4IHAJ0NFZJ' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 100
search_query = "mercearia"

In [9]:
address = 'Maputo, Mozambique'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

-25.966213 32.56745

### Define the url to get more groceries

In [10]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query,LIMIT)
results = requests.get(url).json()

# assign relevant part of JSON to venues
groceries = results['response']['venues']

# tranform groceries into a dataframe
grocery_df = json_normalize(groceries)
grocery_df

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,id,name,categories,referralId,hasPerk,location.lat,location.lng,location.labeledLatLngs,location.distance,location.cc,location.city,location.state,location.country,location.formattedAddress,location.address
0,50640a66e4b0a7239347b869,Mercearia khan,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",v-1591653973,False,-25.968438,32.572262,"[{'label': 'display', 'lat': -25.9684383084498...",541,MZ,Maputo,Cidade de Maputo,Moçambique,"[Maputo, Moçambique]",NaN
1,4fc34fbde4b04bdf29762a8c,Mercearia CCPolana,"[{'id': '4bf58dd8d48988d1ff941735', 'name': 'M...",v-1591653973,False,-25.969036,32.582432,"[{'label': 'display', 'lat': -25.9690361022949...",1531,MZ,Maputo,Cidade de Maputo,Moçambique,"[Av. Ahmed Sekou Touré, Maputo, Moçambique]",Av. Ahmed Sekou Touré
2,4fc49f49e4b0093f0b1e5eb4,China mercearia,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",v-1591653973,False,-25.959066,32.567811,"[{'label': 'display', 'lat': -25.9590657461940...",796,MZ,Maputo- Alto maé,NaN,Moçambique,"[Av. Eduardo Mondlane Maputo, Maputo- Alto maé...",Av. Eduardo Mondlane Maputo
3,50640d76e4b0974e7bfd68b2,Mercearia khan,"[{'id': '4bf58dd8d48988d1e1931735', 'name': 'A...",v-1591653973,False,-25.954727,32.580049,"[{'label': 'display', 'lat': -25.9547270183991...",1795,MZ,Maputo,Cidade de Maputo,Moçambique,"[Maputo, Moçambique]",NaN
4,501cfde1e4b0a1c5e778d6ab,Mercearia Torres Vermelhas,"[{'id': '4bf58dd8d48988d146941735', 'name': 'D...",v-1591653973,False,-25.980440,32.587762,"[{'label': 'display', 'lat': -25.9804395208548...",2576,MZ,NaN,NaN,Moçambique,[Moçambique],NaN
5,503b3ab2e4b06ee16f1c26aa,Mercearia Mau Tsé Tung,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",v-1591653973,False,-25.965298,32.592042,"[{'label': 'display', 'lat': -25.9652979757317...",2463,MZ,Maputo,Cidade de Maputo,Moçambique,"[Maputo, Moçambique]",NaN
6,4fa4f63be4b012fefcfbd823,Mercearia Dinamica,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",v-1591653973,False,-25.975262,32.589800,"[{'label': 'display', 'lat': -25.9752624662768...",2453,MZ,Maputo,Cidade de Maputo,Moçambique,"[Maputo, Moçambique]",NaN
7,5017e18fe4b07d4792fe62b5,Mercearia R &K,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",v-1591653973,False,-25.944468,32.460764,"[{'label': 'display', 'lat': -25.9444683078342...",10949,MZ,NaN,NaN,Moçambique,[Moçambique],NaN
8,5d0708781c0b34002ccae76b,Mercearia D'Amour,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",v-1591653973,False,-25.863326,32.496483,"[{'label': 'display', 'lat': -25.863326, 'lng'...",13478,MZ,Matola,Maputo,Moçambique,"[Rua Fios, Matola, Moçambique]",Rua Fios
9,510f8c61e4b0873bd179feff,Mini-Mercearia 1º de Maio,[],v-1591653973,False,-25.896499,32.606601,"[{'label': 'display', 'lat': -25.8964994513815...",8694,MZ,Maputo,Cidade de Maputo,Moçambique,"[Maputo, Moçambique]",NaN
10,5b687884ad910e002c781da1,Nossa Mercearia,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",v-1591653973,False,-25.905917,32.632635,"[{'label': 'display', 'lat': -25.905917, 'lng'...",9361,MZ,Maputo,Cidade de Maputo,Moçambique,"[Condomínio Open - Dona Alice, Maputo, Moçambi...",Condomínio Open - Dona Alice
11,59c7cf6fa5a315336ab2e3fe,Mercearia Famamel,"[{'id': '4bf58dd8d48988d118951735', 'name': 'G...",v-1591653973,False,-26.148490,32.338468,"[{'label': 'display', 'lat': -26.14849, 'lng':...",30595,MZ,Mahubo,Maputo,Moçambique,"[Estrada Nacional 200, Mahubo, Moçambique]",Estrada Nacional 200

### Data cleaning

In [11]:
grocery_df.drop(['id', 'categories', 'referralId', 'hasPerk', 'location.labeledLatLngs', 'location.labeledLatLngs', 'location.distance', 'location.cc', 'location.state', 'location.country', 'location.address'], axis=1, inplace=True)

In [12]:
grocery_df.head()
grocery_df.rename(columns= {"location.lat":"lat", "location.lng": "lng", "location.city":"city", "location.formattedAddress": "address"}, inplace=True)

In [13]:
groceries = pd.concat([df, grocery_df])
groceries.to_excel("grocery_rollout_with_foursquare.xlsx", engine='xlsxwriter')

### Data Exploration

In [22]:
#Load data from a CSV file with the complete 
filename = 'grocery_rollout_final.xlsx'
df_final = pd.read_excel(filename)
df_final.head()

,name,opening year,number of employees,have electronic system ?,address,phone number,email,city,lat,lng,Accept
0,Mini Mercearias Mafalda,2019,1,YES,"Bairro Matola-Gare, Matola-Maputo",+258 84 0546824,NaN,Matola,NaN,NaN,YES
1,Mini Mercearias Balbina Hilário,1998,1,NO,"Rua do Regimento, Bairro da Urbanização, Maputo",+258 84 8995929,NaN,Maputo,NaN,NaN,YES
2,Complexo Mozakil,2014,1,NO,"Av. Sebastião Marcos Mabote, Bairro do Magoanine",+258 84 4624254,NaN,Maputo,NaN,NaN,YES
3,Mercearia Marília,2019,2,NO,"Prolongamento da av. Vladimir Lenine 394, Xiqu...",+258 84 3973994,NaN,Maputo,NaN,NaN,YES
4,Mercearia Mozal,2017,2,NO,"Rua da Mozal, Matola",+258 84 5084593,NaN,Matola,NaN,NaN,YES

In [23]:
df_final.describe()

       opening year  number of employees        lat        lng
count     16.000000            16.000000  11.000000  11.000000
mean    2015.125000             2.687500 -25.961476  32.547915
std        4.814907             2.301268   0.072720   0.084970
min     1998.000000             1.000000 -26.148490  32.338468
25%     2015.000000             1.000000 -25.972149  32.532147
50%     2016.000000             2.000000 -25.965298  32.582432
75%     2017.000000             2.250000 -25.925193  32.590921
max     2019.000000             8.000000 -25.863326  32.632635

In [25]:
df_final.groupby(['city', 'Accept']).count()

               name  opening year  number of employees  \
city   Accept
Mahubo YES        1             1                    1
Maputo NO         1             1                    1
       YES       11            11                   11
Matola NO         1             1                    1
       YES        2             2                    2

               have electronic system ?  address  phone number  email  lat  \
city   Accept
Mahubo YES                            1        1             1      0    1
Maputo NO                             1        1             1      0    1
       YES                           11       11            11      1    8
Matola NO                             1        1             1      0    1
       YES                            2        2             2      0    0

               lng
city   Accept
Mahubo YES       1
Maputo NO        1
       YES       8
Matola NO        1
       YES       0

In [26]:
df_final.groupby(['have electronic system ?']).count()

,name,opening year,number of employees,address,phone number,email,city,lat,lng,Accept
have electronic system ?,,,,,,,,,,
NO,12,12,12,12,12,0,12,8,8,12
YES,4,4,4,4,4,1,4,3,3,4